<?xml version='1.0' encoding='ISO-8859-1'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>		
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:mem:oauthsunittest</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.pool_size">8</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">true</property>
		
		<mapping class="com.pmariano.oauth.model.User" />
		<mapping class="com.pmariano.oauth.model.Provider" />
		<mapping class="com.pmariano.oauth.model.Credential" />
	</session-factory>
</hibernate-configuration>